* {margin: 0;padding: 0; box-sizing:border-box;}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
   }
@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSansBold.ttf);
   }
@font-face {
    font-family: OpenSansItalic;
    src: url(../fonts/OpenSansItalic.ttf);
   }
@font-face {
    font-family: OpenSansExtraBold;
    src: url(../fonts/OpenSansExtraBold.ttf);
   }
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSansSemiBold.ttf);
   }

html, body {
    height:100%; width: 100%; 
} 

body {
	background: #eaeaea url(../img/bg.jpg) no-repeat;
	background-size: auto 100%;
	background-position: 50% 0;
    text-align: center;
    padding: 50px;
    background-size: cover;
}


#cont {margin-top: 150px; display: inline-block; margin-right: auto; margin-left: auto;}
#ty {
  font-size: 4em;
  font-family: "OpenSansExtraBold";
  color: rgb(66, 156, 98);
  line-height: 2em;
  text-align: center;
  margin: 0 auto 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
  width: 75%;
}

.ty {
  font-size: 3em;
  font-family: "OpenSansSemiBold";
  color: rgb(53, 53, 53);
  line-height: 1.2em;
  text-align: center;
}

@media screen and (max-width: 680px) {
	#cont {margin-top: 10px;}
  #ty {
  font-size: 3em;
  line-height: 0.8em;
  width: auto;
  display: inline-block;
  padding: 0 20px 15px;
  margin-bottom: 100px;}
  .ty {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 20px !important;
  }
body {
    padding: 5px;
    padding-bottom: 20px !important;
}
@media screen and (max-width: 500px) {
#cont {margin-top: 50px;}
#ty {
  width: auto;
  display: inline-block;
  padding: 0 20px 15px;
  margin-bottom: 80px;
}
.ty {
  line-height: 1.0em;
}
body {
	background-position: 35% 0;
    padding: 5px;
}
}